@import 'more-modern-css-reset';
@import '_font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: oklch(0.25 0 89.88);
  --title: oklch(0.25 0 89.88);
  --bg: oklch(1 0 89.88);
  --code-bg: oklch(28% 0 270);
  --link: oklch(0.58 0.19 5.51);
  --inlineCode-bg: oklch(92% 0.1 98 / 0.2);
  --inlineCode-text: oklch(22% 0 0);
  --pink: oklch(0.7 0.18 0);
  --purple: oklch(0.44 0.16 0);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: oklch(100% 0 0 / 0.9);
    --title: oklch(1 0 89.88);
    --bg: oklch(29% 0 270);
    --code-bg: oklch(23% 0 270);
    --link: oklch(82% 0.1 360);
    --inlineCode-bg: oklch(59% 0 270 / 0.2);
    --inlineCode-text: oklch(92% 0 0);
    --pink: oklch(0.85 0.1 0);
    --purple: oklch(0.82 0.1 0);
  }
}
@property --myColor1 {
  syntax: "<color>";
  initial-value: oklch(25% 0 0);
  inherits: false;
}
@property --myColor2 {
  syntax: "<color>";
  initial-value: oklch(25% 0 0);
  inherits: false;
}
@media (prefers-color-scheme: dark) {
  @property --myColor1 {
    syntax: "<color>";
    initial-value: oklch(100% 0 0 / 0.9);
    inherits: false;
  }
  @property --myColor2 {
    syntax: "<color>";
    initial-value: oklch(100% 0 0 / 0.9);
    inherits: false;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@media (prefers-reduced-motion) {
  * {
    transition: none !important;
    transform: none !important;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
