.markdown {
  line-height: 28px;
  --path: none;
  --radius-top: 12px;
  --radius-bottom: 12px;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
}

.markdown p {
  padding-bottom: 2rem;
}

.markdown a {
  border-bottom: 1px solid var(--link);
  color: var(--link);
}

.markdown hr {
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.6;
}

.markdown h2 {
  margin-top: 2px;
  padding-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 700;
}

.markdown h3 {
  margin-top: 2px;
  padding-bottom: 8px;
  font-size: 1.25rem;
  font-weight: 700;
}

.markdown h4 {
  margin-top: 2px;
  padding-bottom: 8px;
  font-size: 1.125rem;
  font-weight: 700;
}

.markdown code {
  border-radius: 0.5rem;
  padding: 0.15rem 0.2rem 0.05rem;
  white-space: normal;
}

.markdown pre {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
  overflow: auto;
  padding: 1rem;
  text-align: left;
  background-color: oklch(98% 0 0);
}

.markdown pre code {
  width: auto;
}

.markdown blockquote {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-style: italic;
  border-left: 3px solid oklch(0% 0 0 / 0.9);
  opacity: 0.8;
}

.markdown blockquote p {
  margin: 0;
  padding: 0;
}

.markdown p img {
  margin-bottom: 0;
}

.markdown ul {
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.75rem;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: disc;
}

.markdown li {
  margin-bottom: 0.875rem;
}

.markdown img {
  margin-bottom: 2rem;
  max-width: 100%;
}

.markdown pre [data-highlighted-line] {
  margin-left: -16px;
  padding-left: 12px;
  border-left: 4px solid oklch(82% 0.1 360);
  background-color: oklch(28% 0.1 250);
  display: block;
  padding-right: 1em;
}

