---
import Color from 'colorjs.io'
import '@fontsource/montserrat/900.css'

interface Props {
	title: string
	date: Date
}

const { title, date } = Astro.props

const lightStart = new Color('lab(63 59.32 -1.47)')
const lightEnd = new Color('lab(33 42.09 -43.19)')
const lightRange = lightStart.range(lightEnd)
const darkStart = new Color('oklch(0.85 0.1 0)')
const darkEnd = new Color('oklch(0.82 0.1 0)9)')
const darkRange = darkStart.range(darkEnd)
const today = new Date()
const timeSinceFirstPost = (today.valueOf() - new Date(2018, 10, 30).valueOf()).valueOf()
const timeSinceThisPost = (today.valueOf() - new Date(date).valueOf()).valueOf()
const staleness = timeSinceThisPost / timeSinceFirstPost
---

<h2
  class="text-[28px] font-black text-[--lightLink] dark:text-[--darkLink] font-['Montserrat']"
  style={{
    "--lightLink": lightRange(staleness).toString(),
    "--darkLink": darkRange(staleness).toString(),
  }}
	transition:name={title}
>
  {title}
</h2>
