---
import '@/styles/globals.css'
import '@fontsource/merriweather'
import { ViewTransitions } from 'astro:transitions'
import BaseHead from '@/components/BaseHead.astro'
import LoadingIndicator from 'astro-loading-indicator/component'
import { Site } from '@/consts'
const desc = Site.description
const lang = Site.lang
const title = Site.title
const token = '7797be8d-4452-4a49-8fb8-13251f192b10'
---

<!doctype html>
<html {lang}>
  <head>
		<BaseHead {desc} {title}/>
		<script is:inline src="s/bm.js" data-token={token} async type="text/partytown"></script>
    <ViewTransitions />
    <LoadingIndicator color="#7e22ce" />
  </head>
  <body class="mx-auto max-w-2xl bg-[--bg] px-5 py-12 text-[--text]">
    <slot />
  </body>
</html>
